<nav class="row">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li id="logo"></li>
					<li class="active" id="title"><a href="#">Captain Planner</a>
						<span class="navbar-unread">测试!</span>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<a id='feedback' href="#" onclick="BetaDialog.popDialog()">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>